@import '../global.scss';

.dashboard-header {
   .header-container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
         width: 100%;
         max-width: 180px;
         min-width: 100px;
      }

      .action-icons {
         i {
            font-size: 2rem;
            color: $neutral-white;

            &:hover {
               @include buttonHover;
            }
         }

         .fa-power-off {
            color: $neutral-white;
            margin-left: 1rem;

            &:hover {
               @include buttonHover;
            }
         }
      }
   }
}
