@import '../global.scss';

.tracker {
   height: 100%;
   .tracker-section {
      background-color: $neutral-white;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba($color: $neutral-black, $alpha: 0.2);
      overflow: hidden;
   }
}
